.container {
    width: 100%;
    height: 400px;
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
}

.doudouneContainer {
    width: 50%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.formContainer {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    padding-left: 50px;
}

.transition {
    transition: all .5s ease-in-out;
}
.articleImage{
    margin-top: 50px;
    width:auto;
    height: 100%;
}
.div{
    background-color: white;
}
.prename {
    font-size: 0.8em;
    text-transform: none;
    font-weight: 400;
    letter-spacing: normal;
    font-family: 'q_medium'!important;
    display: inline-block;
    margin-bottom: 6px;
    width: 100%;
}
.mainname {
    font-size: 1.3em;
    line-height: 28px;
    font-weight: 600 ;

}
.description{
    font-size: 0.8em;
}
.price{
    height: 120px;
    
}
.ul{
    list-style: square;
    font-size: 0.9em;
}
.label{
    text-decoration: underline;;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #b3b3b38f;
}